.card-wrapper {

    .clamped {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ul {
        width: 100%;
        height: auto;

        li {
            width: 100%;
            height: auto;
            display: flex;
            padding-bottom: 28px;

            .key {
                width: 170px;
                height: auto;
                line-height: 20px;
            }

            .value {
                width: calc(100% - 170px);
                padding-left: 24px;
                color: #303030;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
        }
    }
}