<div class="container mt-4">
  <h4 class="mb-3">Available Apartments</h4>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let item of paginatedListings">
      <div class="card h-100">
        <img [src]="item.feature_image" class="card-img-top" alt="Apartment image" />
        <div class="card-body">
          <h5 class="card-title">{{ item.society }}</h5>
          <p class="card-text">
            📍 {{ item.address }}<br />
            💰 {{ item.expected_rent }}
          </p>
          <div class="card-body bottom-wrapper">
            <button class="btn btn-outline-primary">View Details</button>
            <button class="custom-button">Mark as Favourite</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav class="d-flex justify-content-center mt-3">
    <ul class="pagination custom-pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)">Prev</button>
      </li>
  
      <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage">
        <button
          class="page-link"
          (click)="changePage(page)"
          *ngIf="page !== '...'">{{ page }}</button>
        <span class="page-link dots" *ngIf="page === '...'">...</span>
      </li>
  
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
      </li>
    </ul>
  </nav>  
</div>